.signal {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 8px;

  &.edit {
    grid-template-columns: min-content auto min-content;
  }

  .status {
    min-width: 12px;
    display: inline-flex;
  }

  &.grayed {
    opacity: 0.2;
  }

  &.detail {
    cursor: pointer;

    &.critical :hover {
      color: $critical;
    }

    &.warning :hover {
      color: $warning;
    }

    &.success :hover {
      color: $success;
    }

    &.unknown :hover {
      color: $unknown;
    }

    &.selected {

      &.critical {
        .name {
          color: $critical;
        }
      }

      &.warning {
        .name {
          color: $warning;
        }
      }

      &.success {
        .name {
          color: $success;
        }
      }

      &.unknown {
        .name {
          color: $unknown;
        }
      }
    }
  }

  .name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #293338;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .delete-signal {
    cursor: pointer;
  }
}
