.signal {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 8px;
  margin-bottom: 2px;
  cursor: pointer;

  &.edit {
    grid-template-columns: min-content auto min-content;
  }

  .status {
    min-width: 12px;
    display: inline-flex;

    .icons-lib {
      @include fill-colors(
        $critical: 'critical',
        $success: 'success',
        $unknown: 'unknown',
        $warning: 'warning',
      );
    }
  }

  &.detail {
    &.critical :hover {
      color: $critical;
    }

    &.warning :hover {
      color: $signalWarningText;
    }

    &.success :hover {
      color: $success;
    }

    &.unknown :hover {
      color: $signalUnknownText;
    }

    &.selected {

      &.critical {
        .name {
          color: $critical;
        }
      }

      &.warning {
        .name {
          color: $signalWarningText;
        }
      }

      &.success {
        .name {
          color: $success;
        }
      }

      &.unknown {
        .name {
          color: $signalUnknownText;
        }
      }

    }
  }

  &.faded {
    opacity: 0.3;
  }

  .name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #293338;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .delete-signal {
    cursor: pointer;
  }
}
