.step {
  box-sizing: border-box;
  padding: 8px;

  .edit-signals-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  .step-header {
    display: grid;
    gap: 8px;
    align-items: center;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.edit {
      grid-template-columns: min-content auto min-content min-content;
    }

    .drag-handle {
      cursor: pointer;
    }

    .delete-btn {
      cursor: pointer;
    }
  }

  .signals {
    display: flex;
    flex-direction: column;
    max-height: 160px;
    gap: 5px;
    overflow-y: auto;
    margin-top: 8px;
    box-sizing: border-box;
  }
}
