.step {
  box-sizing: border-box;
  border: 0.5px solid #dedede;
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;

  .edit-signals-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  &.critical {
    outline: 1px solid $critical;
    cursor: pointer;
  }

  &.warning {
    outline: 1px solid $warning;
    cursor: pointer;
  }

  .step-header {
    display: grid;
    gap: 8px;
    align-items: center;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.edit {
      grid-template-columns: min-content auto min-content min-content;
      margin-bottom: 8px;
    }

    &.inline {
      margin-bottom: 8px;
    }

    .drag-handle {
      cursor: pointer;
    }

    .delete-btn {
      cursor: pointer;
    }
  }
}
