@import './components/filters-info-popover/styles.scss';

.container.nerdlet {
  flex-direction: column;
  justify-content: normal;
  padding: 16px;
}

.signal-select {
  background: #fff;
  padding: 16px;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;

  

  .signal-select-content {
    // flex: 1 1 auto;
    flex: 1;
    overflow: hidden;
    display: flex;
    gap: 16px;

    .data-table {
      flex: 1;
      overflow-y: scroll;
    }
    
    .signals-browser {
      flex: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .filters {
        margin: 8px 0;
        // display: flex;
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: flex-start;
        gap: 8px;

        > :is(:last-child) {
          margin-left: auto;
          min-width: fit-content;
        }

        .filter-name {
          min-width: calc(28px + 26ch);
        }

        .entity-type-filter {
          button {
            background-color: #e1edff;
            color: #074382;
            border-width: 0;

            &:hover {
              background-color: #a4d1fc;
            }
          }
        }

        .filter-tail {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      .signals-browser-content {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        
      }
    }

    .selected-signals {
      width: 30%;
      padding: 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-radius: 4px;
      background: #FBFBFB;

      .selections {
        flex: 1 1 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 0 8px;
        gap: 8px;
        
        .title {
          display: flex;
          gap: 8px;
          align-items: center;

          .selection-count {
            text-wrap: nowrap;
            span {
              font-weight: 600;
              color: #6B757B;
            }
          }
        }

        .list {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }

        .rule {
          height: 0px;
          border: none;
          border-top: 1px solid #E7E9EA;
        }
      }
    }
  }

  header {
    margin-bottom: 16px;

    .identification {
      display: flex;
      gap: 4px;
      align-items: center;

      .stage-name {
        color: #535E65;
      }

      .step-group {
        border-radius: 2px;
        background-color: #9ea5a9;
        padding: 0 4px;

        h6 {
          color: #FAFBFB;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    
    .message-bar {
      min-height: 16px;
      font-weight: 600;
      color: #DF2D24;
    }

    .buttons-bar {
      display: flex;
      gap: 8px;
    }
  }

}
