.flow {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;
  min-width: 0;

  .flow-header {
    flex: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9EA;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .view-mode {
      margin-left: auto;
    }

    .back {
      cursor: pointer;
    }

    .flow-heading {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .logo-image {
      img {
        max-height: 24px;
        max-width: 24px;
      }

      &.edit {
        background-color: #E7E9EA;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          fill: #293338;
        }
      }
    }
  }
}

.flow-listing-dropdown {
  width: 450px;
  height: 270px;
}

.audit-log-content {
  margin-left: 0.75rem;

  .audit-log-header {
    margin: 1rem 0;
  }

  .audit-log-items {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .audit-log-item {
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      padding: 8px;

      .change-date {
        font-weight: 400;
      }
    }
  }
}
